@model December.Models.Employe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Employe</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Namn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Namn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Avd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Avd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stad)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EmployeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
